.logo img{
  margin: auto;
  display: flex;
  justify-content:center;
  align-items:center;
  width: 90%;
}

.header-text {
  text-align: center;
  margin: auto;
}

h2 {
  margin-bottom: 0px;
}

p {
  margin: 0px;
}
